:root {
    --white: #FFF;
    --grey: #f2f2f2;
    --griscla: #F7F7F7;
    --grisoscuro: #d4d4d4;
    --black: #000000;
}

/* Reset CSS */
/****************************************/
* {
    box-sizing: border-box;
    min-width: 0;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100dvh;
}

h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

p {
    text-wrap: pretty
}

/* COLORES
/****************************************/

.bg-white {
    background-color: var(--white);
}

.bg-griscla {
    background-color: var(--griscla);
}

.bg-grey {
    background-color: var(--grey);
}

.bg-grisoscuro {
    background-color: var(--grisoscuro);
}

.bg-black {
    background-color: var(--black);
}

/* Botones
/****************************************/

.btn-submit{
    background-color: var(--white);
    color: var(--black);
}

.btn-submit:hover{
    background-color: var(--black);
    color: var(--white);
}

/* ESTILOS GENERALES */
/****************************************/

.form .container {
    margin: auto;
    max-width: 500px;
    padding: 0 20px;
}

/* CLASES UTILITARIAS */
/****************************************/

.text-center {
    text-align: center;
}

.full-width {
    display: block;
    width: 100%;
}

/* ESTILOS HERO */
/****************************************/


/* ESTILOS FORMULARIO */
/****************************************/

.form textarea {
    resize: vertical;
    min-height: 50px;
    max-height: 150px;
 /* form-sizing: content; Próximamente */
}

/* MEDIA QUERY */
/****************************************/

@media screen and (min-width: 576px){

}

@media screen and (min-width: 576px){

}

/* BORRAR */