@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

:root {
    --primary: #191726;
    --secundary: #14768C;
    --white: #FFF;
    --grey: #f2f2f2;
    --griscla: #F7F7F7;
    --grisoscuro: #d4d4d4;
    --black: #000000;
}

/** RESET CSS */
/****************************************/
* {
    box-sizing: border-box;
    min-width: 0;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100dvh;
}

h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

p {
    text-wrap: pretty
}

/** COLORES FONDOS */
/****************************************/

.bg-primary{
    background-color: var(--primary);
}

.bg-secundary{
    background-color: var(--secundary);
}

.bg-white {
    background-color: var(--white);
}

.bg-griscla {
    background-color: var(--griscla);
}

.bg-grey {
    background-color: var(--grey);
}

.bg-grisoscuro {
    background-color: var(--grisoscuro);
}

.bg-black {
    background-color: var(--black);
}

/** COLORES TEXTOS */
/****************************************/

.text-white{
    color: var(--white);;
}

/** BOTONES */
/****************************************/

.btn-submit{
    background-color: var(--white);
    color: var(--black);
}

.btn-submit:hover{
    background-color: var(--black);
    color: var(--white);
}

/** CLASES UTILITARIAS */
/****************************************/

/* Posicionamiento */

.text-center {
    text-align: center;
}

/* Dimensiones */

.full-width {
    display: block;
    width: 100%;
}

.p-1{
    padding: 1rem;
}

.h-4{
    height: 4rem;
}

.h-100vh{
    height: 100vh;
}

/* Flex */

.d-flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.justify-content-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.flex-grow-1{
    flex-grow: 1;
}

/** ESTILOS GENERALES */
/****************************************/

.form *{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.form .container {
    max-width: 500px;
}

/** ESTILOS HEADER */
/****************************************/


/** ESTILOS FORMULARIO */
/****************************************/

.form textarea {
    resize: vertical;
    min-height: 50px;
    max-height: 150px;
 /* form-sizing: content; Próximamente */
}

/** MEDIA QUERY */
/****************************************/

@media screen and (min-width: 576px){

}

@media screen and (min-width: 576px){

}

/** BORRAR */